@font-face {
  font-family: quicksand;
  src: url(fonts/Quicksand-Light.ttf);
}



html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #212121;
}

.main-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clock {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 305px;
    width: 100px;
    
    font-family: quicksand;
    text-align: center;
    color: rgba(255, 255, 255, 0.79);
    font-size: 100px;
    font-weight: 300;
}

.secs {
    margin: 0;
    position: absolute;
    top: 100px;
    right: 105px;
    width: 100px;
    
    font-family: quicksand;
    text-align: center;
    color: rgba(255, 255, 255, 0.32);
    font-size: 50px;
    font-weight: 300;
}
