

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');



html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #212121;
    user-select: none;
    pointer-events: none;
}

.main-img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    
    left: 50%; 
    transform: translate(-50%,0); 
    position: absolute; 
    z-index: 0;
}

.second-img {
    position: static;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: -1;
}

.transparent {
	opacity: 0;
}

.clock {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 305px;
    width: 100px;
    
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.79);
    font-size: 100px;
    font-weight: 300;
    text-shadow: 0px 0px 25px black;
}

.secs {
    margin: 0;
    position: absolute;
    top: 100px;
    right: 80px;
    width: 100px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-align: center;
    color: rgba(255, 255, 255, 0.32);
    font-size: 50px;
    font-weight: 300;
}

.blur-mask {
    width: 100%;
    height: 100%;
    -webkit-filter: blur(0px);
    -webkit-transition: 1s -webkit-filter ease-in-out;
}

.options-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    visibility: hidden;
}

.weatherwidget-io {
    width: 400px;
    height: 100px;
    left: auto;
    right: auto;
    top: 150px;
    margin: auto;
    position: absolute;
    pointer-events: none;
}









