

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');



html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    user-select: none;
    pointer-events: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-image: url("img/bg.jpg");
    background-position: center;
    backdrop-filter: blur(40px);
}

.main-img {
    max-width: 125%;
    max-height: 125%;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    
    left: 50%; 
    transform: translate(-50%,0); 
    position: absolute; 
    z-index: 0;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.second-img {
    position: static;
    max-width: 125%;
    max-height: 125%;
    width: auto;
    height: auto;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    z-index: -1;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
}

.transparent {
	opacity: 0;
}

.clock {
    margin: 0;
    position: absolute;
    top: 15px;
    right: 90px;
    width: 100px;
    
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: rgba(255, 255, 255, 0.79);
    font-size: 70px;
    font-weight: 300;
    text-shadow: 0px 0px 25px black;
}

.secs {
    margin: 0;
    position: absolute;
    top: 90px;
    right: 0px;
    width: 100px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-align: center;
    color: rgba(255, 255, 255, 0.32);
    font-size: 30px;
    font-weight: 300;
    text-shadow: 0px 0px 20px black;
}

.photos-panel {
    width: 100%; height: 100%;
	visibility: visible;
}

.options-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    visibility: visible;
    opacity: 0;
    transition: .5s opacity ease-in-out .1s;
}

.weatherwidget-io {
    width: 300px;
    height: 100px;
    left: auto;
    right: auto;
    top: 20px;
    margin: auto;
    position: absolute;
    pointer-events: none;
    transform: scale(1.1,1.1);
}


.dev-info-menu {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    visibility: visible;
    opacity: 0;
    transition: .2s opacity ease-in-out;
}

.dev-info-menu h4 {
	font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0; right: 0;
}
.dev-info-menu h5,h6 {
	font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 60px;
    left: 0; right: 0;
}



/*RELOJ PRINCIPAL*/
.main-clock-menu {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: #212121;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    visibility: visible;
    opacity: 0;
    transition: .3s opacity ease-in-out;
}
.main-clock-menu .p {
    position: absolute;
    width: 605px;
    height: 120px;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
}

.main-clock-menu .dp {
    display: inline-block;
    width: 10px;
    height: 10px;
    color: rgba(255, 255, 255, 0.57);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-left: 10px;
}

.mc-box {
    margin-left: 10px;
    display: inline-block;
	width: 120px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.57);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 12px;
    padding-top: 90px;
}

.mc-box h3 {
	margin: auto;
    margin-top: -80px;
    
    font-size: 55px;
    font-weight: 400;
    color: white;
}









